.search {
  max-width: 500px;
  margin: 0 auto;

  margin-right: 1px;
  padding: 3;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  display: flex;
}
.bodyweather {
  background-color: black;
  color: white;
  margin-top: -20px;
}
.weather {
  background-color: rgba(40, 51, 129, 0.493);
  height: 100px;
}
.weatherfull {
  height: max-content;
}

.search input {
  border: black;
  height: 50%;
  width: 100%;
  padding: 3;
  font-size: large;
  border: none;
  padding-top: 12px;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(60, 67, 88); */
  /* background-color: white; */
  margin-top: 10px;
  outline: none;
}
/* .search-btn{
    padding: 3;
    background-color:rgb(43, 65, 70);
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    
} */
.search-btn {
  display: flex; /* Align buttons in a row */
  gap: 10px; /* Space between buttons */
  line-height: 1;
  margin-top: 10px;
}

.search-btn button {
  padding: 5px 10px; /* Add padding inside the buttons */

  border: none; /* Remove default borders */
  background-color: rgb(43, 65, 70); /* Button background color */
  color: white; /* Button text color */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 5px; /* Rounded corners */
  line-height: 1;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
}

.history {
  text-align: left;
  border-right: 0cap;
}
.result-container {
  border-radius: 10px;
  /* background-color: #2c3e50; */
}

.result {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  padding: 10px;
}
.result h6 {
  text-align: center;
  font-size: large;
}
.result h2 {
  text-align: center;
  font-size: xx-large;
}
.result .tempratur {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.result .icone {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  align-items: center;
}
.search-history {
  position: absolute;
  margin-top: 1px;
  padding: 2px;
}
.currentweather {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: aqua; */
  width: 60%;
  height: fit-content;
  border-radius: 10px;
  margin-top: 10px;
}

.datashow {
  /* margin-left: 10px; */
  justify-content: space-around;
  border-radius: 10px;
}

/* forcast wekly */

.forcast-card {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  /* width: fit-content; */
  align-items: center;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%;
  height: 100px;

  /* background-color: aqua; */
  color: white;
}

/* today weather */

.today-forecast-container {
  /* margin-top: 20px; */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  border-radius: 10px; /* Optional: Rounded corners */
  position: relative;
  /* top: -80%;  */
  top: -400px;
  width: fit-content;

  padding: 0px;
  width: 600px;
}
.weekly-card {
  width: 350px;
  height: fit-content;
  padding: 20px;
  background-color: #1b1f23;
  border-radius: 10px;
}
.weekly-card p{
font-size:x-small;
}
.weekly-forecast {
  display: flex;
  margin-top: 30px;
}
.forecast-card-container {
  /* background-color: #2d4e6f; */
  border-radius: 10px;
  /* width: 200px; */
  /* width: 800px; */
max-width: fit-content;
  padding: 15px 100px;
  width: 10px;
}

.today-forecast {
  /* align-items: center; */
  /* justify-content: center; */
  /* max-width: 1400px; */
  width: 800px;
  /* max-width: fit-content; */

  /* padding: 10px; */
  /* border-radius: 100px; */
  /* background-color: aqua; */
}
.today-forecast h2 {
  text-align: center;
}
.today-forecast p {
  font-size: x-small;
}

.today-forecast-cards {
 
  /* width: fit-content; */

  background-color: #1b1f23;
  border-radius: 10px;
}
.today-forecast-cards p{
  font-size: small;
  margin-left: 10px;
  /* padding-top: 10px; */
}
.today-forecast-details{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  /* grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); */
  gap: 1px;
  /* width: fit-content; */
  padding: 20px;

}

.hour-card {
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: grid;
}

.hour-card .time {
  font-size: 0.6em;
  font-weight: bold;

  margin-bottom: 5px;
}

.hour-icon {
  width: 40px;
  height: 40px;
  align-items: center;
  margin-left: 30%;

 
}

.hour-temp {
  font-size: 50px;

  margin-bottom: 0px;
}

.weather-description {
  font-size: 0.9em;

  text-align: center;
}
/* weelky forecast */

.card-icon {
  width: 40px;
}

.air-condition-card {
  
  justify-content: left;
  display: flex;
  display: grid;
  grid-template-columns: auto auto;
  
  gap: 0px 200px;
  /* font-size: large; */
  width: 100%;
  height: 150px;
  margin-left: 40px;
 margin-top: -20px;
 
}
.air-condition-card h2{
  font-size:30px;
  /* background-color: aliceblue; */

}

.air-main-card {
  color: white;
  background-color: #1b1f23;
  border-radius: 10px;
 
}
.air-main-card p{
  font-size: small;

  padding-top: 10px;
}

/* new design */
.air-container {
  color: black;
  padding: "20px";
  max-width: "1200px";
  margin: "0 auto";
 
}
